#============= system_server ==============
allow system_server platform_app:file write;
allow system_server priv_app:file write;
allow system_server system_app:file write;
allow system_server untrusted_app:file write;
allow system_server untrusted_app_25:file write;

#============= hal_graphics_allocator_default ==============
allow hal_graphics_allocator_default graphics_device:chr_file { ioctl open read write };

#============= hal_graphics_composer_default ==============
#allow hal_graphics_composer_default device:chr_file { ioctl open read write };
allow hal_graphics_composer_default hal_graphics_allocator_default:binder call;
allow hal_graphics_composer_default hal_graphics_allocator_hwservice:hwservice_manager find;
allow hal_graphics_composer_default init:unix_stream_socket connectto;
allow hal_graphics_composer_default property_socket:sock_file write;
allow hal_graphics_composer_default video_device:chr_file { getattr ioctl open read write };
allow hal_graphics_composer_default vndbinder_device:chr_file { ioctl open read write };

#============= healthd ==============
allow healthd self:capability2 wake_alarm;

#============= init ==============
allow init cgroup:file create;
allow init configfs:file { create write };
allow init configfs:lnk_file create;
allow init debugfs:file write;
allow init tmpfs:lnk_file create;

#============= kernel ==============
allow kernel device:chr_file { create setattr };
allow kernel device:dir { add_name write };
allow kernel self:capability mknod;

#============= netd ==============
allow netd kernel:system module_request;
allow netd proc_net:dir { add_name write };
allow netd proc_net:file create;
allow netd self:capability sys_module;

#============= platform_app ==============
allow platform_app graphics_device:chr_file { getattr ioctl open read write };

#============= priv_app ==============
# those are never allowed by google
#allow priv_app ffs_prop:property_service set;
#allow priv_app graphics_device:chr_file { getattr ioctl open read write };
#allow priv_app init:unix_stream_socket connectto;
#allow priv_app property_socket:sock_file write;

#============= proc_net ==============
allow proc_net proc:filesystem associate;

#============= system_app ==============
allow system_app graphics_device:chr_file { getattr ioctl open read write };

#============= fsck ==============
#allow fsck block_device:blk_file { ioctl open read write };
