/dev/tc_ns_client 0660 system audio
/dev/hi_adec 0660    system  audio
/dev/hi_adsp 0660    system  audio
/dev/hi_aenc 0660    system  audio
/dev/hi_ai   0660    system  audio
/dev/hi_ao   0660    system  audio
/dev/hi_avplay   0660    system  audio
/dev/hi_cipher   0666    system  audio
/dev/hi_demux    0660    system  audio
/dev/hi_disp 0660    system  audio
/dev/hi_hdmi 0660    system  audio
/dev/hi_i2c  0660    system  audio
/dev/hi_log  0660    system  audio
/dev/hi_module   0660    system  audio
/dev/hi_pm   0660    system  audio
/dev/hi_pvr  0660    system  audio
/dev/hi_stat 0660    system  audio
/dev/hi_svdec    0660    system  audio
/dev/hi_sync 0660    system  audio
/dev/hi_sys  0660    system  audio
/dev/hi_tuner    0660    system  audio
/dev/hi_userproc 0660    system  audio
/dev/hi_vdec 0660    system  audio
/dev/hi_venc 0666    system  audio
/dev/hi_vi   0660    system  audio
/dev/hi_vo   0660    system  audio
/dev/hi_vpss 0660    system  audio
/dev/hi_vpu  0660    system  audio
/dev/mem    0660    system  audio
/dev/mmz_userdev 0666    system  audio
/dev/hi_aflt  0660    system   audio
/dev/hi_ca    0660    system   audio
/dev/sil9293  0660    system   audio
/dev/btusb0   0660   bluetooth  bluetooth
/dev/bt_usb*  0660    bluetooth  bluetooth
/dev/uhid     0660    bluetooth  bluetooth
/dev/video*  0660    system  camera
#for Bluetooth USB driver
/dev/graphics/fb*    0660    system  graphics
/dev/hi_gfx2d    0660    system  graphics
/dev/hi_pdm  0660    system  graphics
/dev/hi_pq   0660    system  graphics
/dev/hi_tde  0666    system  graphics
/dev/mali*    0666    system  graphics
/dev/hi_ir   0660    system  input
/dev/hi_keyled   0660    system  input
/dev/vinput  0660    system  input
/dev/hi_mem  0660    system  mediadrm
/dev/hi_omxvdec  0666    system  mediadrm
/dev/hi_vfmw  0666    system  mediadrm
/dev/rtk_btusb 0660   bluetooth     net_bt_stack
/dev/stpbt    0660    bluetooth  radio
/dev/hi_gpio 0660    system  system
/dev/hi_mce  0660    system  system
/dev/hi_otp  0660    system  system
/dev/hi_pwm  0660    system  system
/dev/hi_sci  0660    system  system
/dev/hi_sethdcp  0660    system  system
/dev/hi_wdg  0660    system  system
/dev/ion     0666    system  system
/dev/tee0        0660   shell     shell
/dev/teepriv0    0660   shell     shell

